@model Feature

<section class="container">
        <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Feature - Details</h4>
<div class="d-flex justify-content-between">
    <a class="btn btn-primary" asp-area="Admin" asp-controller="Feature" asp-action="Index">Go Back</a>
    <a class="btn btn-success" asp-area="Admin" asp-controller="Feature" asp-action="Create">Create</a>
</div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Icon
                          </th>
                          <th>
                            Title
                          </th>
                          <th>
                            Description Top
                          </th>
                          <th>
                            Description Bottom
                          </th>
                          <th>
                            Settings
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                             <tr>
                                 <td class="py-1">
                            <i class="fs-1 p-5 bg-primary text-white @Model.Icon"></i>
                          </td>
                          <td class="py-1">
                            @Model.Title
                          </td>
                          <td class="py-1">
                            @Model.Desc1
                          </td>
                          <td class="py-1">
                            @Model.Desc2
                          </td>
                          <td>
    <a class="btn btn-warning mb-3" asp-area="Admin" asp-controller="Feature" asp-action="Update" asp-route-id="@Model.Id">Update</a>
    <a class="btn btn-danger mb-3" asp-area="Admin" asp-controller="Feature" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</section>